<!DOCTYPE html>
%html
%head
  %title Application
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true 
  = csrf_meta_tags

%body

  %nav.navbar.navbar-default
    .container
      .navbar-header
        %button.navbar-toggle.collapsed{ type: "button", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1", "aria-expand" => "false"}
          %span.sr-only
            Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-brand{ href: "#"} 
          Application
      
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        %ul.nav.navbar-nav
          %li
            %a{href: "#"} 
              Action
        %ul.nav.navbar-nav.navbar-right
          -if current_user
            %li.dropdown
              %a.dropdown-toggle{ href: "#", "data-toggle"=>"dropdown", "role"=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false" }
                %span.glyphicon.glyphicon-user
                  = current_user.first_name
                  <span class="caret"></span>
              %ul.dropdown-menu
                %li
                  =link_to destroy_user_session_path, method: "delete" do
                    %span.glyphicon.glyphicon-log-out
                      Logout
                  
            %li
              

          -else
            %li
              =link_to new_user_session_path do
                %span.glyphicon.glyphicon-log-in
                  Login

              
  
  .container
    = yield

